In [1]:
temp = 212.0

def toCelsius(fahrenheit):
    return (fahrenheit - 32) * 5.0 / 9.0

print toCelsius(temp)

100.0

In [2]:
import pandas as pd
from pandas.io import gbq

print "Imports run."

Imports run.

In [3]:
projectId = "YOUR-PROJECT-ID-HERE"
sql = "SELECT year, month, day, weight_pounds FROM [publicdata:samples.natality] LIMIT 50"

print 'Running query...'
data = gbq.read_gbq(sql, project_id=projectId)

data[:5]

Running query...
Requesting query... ok.
Query running...
Query done.
Processed: 3.5 Gb

Retrieving results...
Got 50 rows.

Total time taken 1.14 s.
Finished at 2017-02-12 22:20:13.

   year  month   day  weight_pounds
0  1969      3   9.0       8.875811
1  1969      3  25.0       7.874912
2  1969      1   6.0       7.063611
3  1970      6   8.0       5.813590
4  1971      8  22.0       5.749656